@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/*global*/
html{
  box-sizing: border-box;
  font: 500 20px "Poppins", sans-serif;
}
*, *::before, *::after { 
  box-sizing:inherit; 
}
body{
  margin: 0;
  min-height: 100vh;
}

body, main{
  display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

/*header*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#logo{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  font-size: 1.6em;
  font-weight: 500;
}
.menu{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.2em;
  column-gap: 3.9em;
}
/*main*/
main {
  justify-content: center;
  align-items: center;
  background: url(../img/macarons\ 1.png) no-repeat;
  background-size: cover;
}
h1 {
  font-size: 3.2em;
  color: white;
  margin: 0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  width: 697px;
  height: 192px;
}

a.button{
  background-color: white;
  text-decoration: none;
  padding: 0.8em 3.1em;
  border-radius: 36px;
  border: 5px solid #AD00FF;
  font-size: 1em;
  min-width: 226px;
  margin-top: 20px; /*space betweeen hero text and button*/
}

/*footer*/
footer{
  font-weight: 300;
  font-size: 0.7em;
  padding: 14px 20px;
}